# Python bytecode & cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Model weights
**/data/weights/*.keras
**/data/weights/*.pt
**/data/weights/*.onnx
weights/

# Vector database storage
**/chroma_db/

# Secrets and local environment files
.env